extends layout.pug

block content
  .container
    .project-item
      .primary
        h2.article.article-header Title
        p.article.article-body
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat aut quos commodi nobis possimus autem veritatis, blanditiis nisi! Fugit sapiente, magnam nulla error aliquid natus! Ipsa a accusamus porro!
      .secondary
        img(src='/img/clock-2.jpg' alt='img')
    .project-item
      .primary
        h2.article.article-header Title
        p.article.article-body
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat aut quos commodi nobis possimus autem veritatis, blanditiis nisi! Fugit sapiente, magnam nulla error aliquid natus! Ipsa a accusamus porro!
      .secondary
        img(src='img/clock-2.jpg' alt='img')
    .project-item
      .primary
        h2.article.article-header Title
        p.article.article-body
          | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat aut quos commodi nobis possimus autem veritatis, blanditiis nisi! Fugit sapiente, magnam nulla error aliquid natus! Ipsa a accusamus porro!
      .secondary
        img(src='public/clock-2.jpg' alt='img')

