extends layout.pug

block content
  .container

    .project-item
      .primary
        h2.article.article-header Weather APP
        p.article.article-body
          | Find out the weather of your current location or any other city!
      .secondary
        img(src='img/weather-1.jpg' alt='img')
      form#index-form(action='/app/weather' method='GET')
        button.index-btn(type='submit') VIEW APP

    .project-item
      .primary
        h2.article.article-header Tip Calculator
        p.article.article-body
          | Calculate how much tip you should give with this free calculator. 
      .secondary
        img(src='img/calculator-1.jpg' alt='img')
      form#index-form(action='/app/tip-calculator' method='GET')
        button.index-btn(type='submit') VIEW APP
    
    .project-item
        .primary
          h2.article.article-header Clock App
          p.article.article-body
            | A clock. 
        .secondary
          img(src='img/clock-2.jpg' alt='img')
        form#index-form(action='/app/clock' method='GET')
          button.index-btn(type='submit') VIEW APP
