doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/apps.css')
header
  h1 Logo
  ul
    li Item 1
    li Item 2
    li Item 3
    li Item 4

block content

footer
script(src='' async='' defer='')