doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/normalize.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/apps.css')
header
  a#logo(href="https://markg-portfolio.herokuapp.com/") Mark G.
  ul
    li Link
    li Linked
    li Linking
    li Linkydink

block content

footer
script(src='' async='' defer='')