extends layout.pug

block content
  .container.board#board
    .cell(data-cell='') 
    //- data-cell?? something about using querySelectorAll
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
    .cell(data-cell='')
  #winningMsg.winning-msg
    #winnignTxt(data-winning-msg-txt='')
    button#restartBtn Restart

  link(rel='stylesheet' href='css/tictactoe.css')
  script(src='/js/tictactoe.js' async='' defer='')