/* CLOCK APPS */
.container {
  padding-top: 100px;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#clock {
  font-size: 50px;
  color: white;
}

#date {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

/* TIP CALCULATOR */

#tip-calc-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: orangered;
  width: 400px;
  border-radius: 10px;
  height: 400px;

}

#dollar-sign,
#percent-sign {
  display: inline;
  font-size: 1.5rem;
}

#btn {
  margin-top: 70px;
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  box-shadow: 0px 1px 1px black;
  cursor: pointer;
}

#tip-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 0;
  height: 50px;
  width: 100%;
  background: darkred;
  padding-top: 18px;
}

#tip-form-content {
  padding-left: 25px;
  text-align: left;
  width: 100%;
  justify-content: space-between;
}

#total {
  margin: 25px 25px 0px 25px;
  font-size: 1rem;
}

#total-header {
  font-size: 18px;
  font-weight: 400;
}

#total-body {
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
}

/* WEATHER */

/* header {
  background: white;
} */

#weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(47,150,163), rgb(48, 62, 143));
  justify-content: center;
  align-items: center;
  color: white;
}

.weather-container {
  padding-top: 0;
}

#input {
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#weather-search{
  width: 60%;
  max-width: 600px;
  height: 30px;
}

#weather-search-btn {
  width: 10%;
  min-width: 70px;
  max-width: 150px;
  height: 36px;
  font-weight: 600;
}


.location {
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 600px;
  margin-top: -100px;
}

#location {
  font-weight: 400;
}

.temperature {
  margin-top: -100px;
}

#temp {
  font-weight: 400;
  font-size: 3rem;
}

#desc {
  font-weight: 400;
}

