@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: darkcyan;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0px 25px 0px 25px;
}

#logo{
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  color: darkcyan;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

li {
  margin-left: 25px;
  color: darkcyan;
  font-weight: 600;
  font-size: 1.1rem;
}

.container {
  padding-top: 70px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  background: whitesmoke;
  border-bottom: violet solid 2px;
  max-height: 500px;
  flex: 1 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.article-header {
  text-align: center;
}

.article-body {
  text-align: left;
}

.primary {
  flex: 1;
  padding: 0px 25px 0px 25px;
}

.secondary {
  flex: 1;
  align-self: center;
}

.secondary img {
  max-width: 600px;

}

.index-btn {
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 10px 0px;
  width: 200px;
  color: darkcyan;
  font-weight: 600;
  border-color: darkcyan;
}